body, #root {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.head-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
    margin-left: auto;
    margin-right: auto;
}

.head-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.head-link-active::after {
    width: 100%;
    transition: width .3s;
}

a {
    text-decoration: none;
    color: #fff;
}

.ui-video-seek-slider .hover-time .preview-screen {
    width: 240px !important;
    height: 135px !important;
}